#container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-container {
  display: flex;
  background-color: #f1f1f1;
  border-radius: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2em;
}

form input {
  margin: 0.5em;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  border: 1px solid #9b0000;
}

form label {
  margin: 0.5em;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  align-self: flex-start;
}

.login-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form-item-icon-left {
  position: absolute;
  bottom: 7px;
  right: 1.9rem;
  font-size: 1.3rem;
  opacity: 0.4;
}

button {
  cursor: pointer;
}

#knight{
  z-index: 999;
  transition: transform 0.1s;
  position : fixed;
  margin-top: 270px;
}

@keyframes shake {
  0% {
    transform: scale(1.1) rotate(7deg);
  }
  10% {
    transform: scale(1.1) rotate(-7deg);
  }
  20% {
    transform: scale(1.1) rotate(1deg);
  }
  30% {
    transform: scale(1.1) rotate(7deg);
  }
  40% {
    transform: scale(1.1) rotate(1deg);
  }
  50% {
    transform: scale(1.1) rotate(-7deg);
  }
  60% {
    transform: scale(1.1) rotate(7deg);
  }
  70% {
    transform: scale(1.1) rotate(-7deg);
  }
  80% {
    transform: scale(1.1) rotate(1deg);
  }
  90% {
    transform: scale(1.1) rotate(7deg);
  }
  100% {
    transform: scale(1.1) rotate(-7deg);
  }
  
}
.atEnd{
  cursor: pointer;
}
.atEnd img:hover{
  transition: transform 0.2s;
  transform: scale(1.1);
  animation: shake 0.4s;
}

#knight img{
  width: 70px;
  height: 70px;
}

.bubble{
  position: absolute;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ba7a7a;
  margin-left: -110px;
  margin-top : -170px;
}

.bubble p {
  color: #ad5959;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 10px;
}

#register:disabled {
  cursor: default;
  background-color: rgb(168, 160, 160);
  border : 2px solid #b58e8e;
}