* {
  margin: 0;
  padding: 0;
}

body{
  display:flex;
  justify-content: center;
}

#container-map{
  width: 50%;
}

.container {
  height: 100vh;
}

.row {
  height: 25%;
  display: flex;
}

.column {
  border: 1px solid black;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.combat,
.evenement,
.repos,
.start,
.end {
  width: 50px;
  height: 50px;
}

.combat {
  background-image: url("../images/combat.png");
}
.evenement {
  background-image: url("../images/evenement.png");
}

